# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:[your-deployment-id]

PUBLIC_CONVEX_URL=https://[your-deployment-name].convex.cloud

PUBLIC_CONVEX_SITE_URL=https://[your-deployment-name].convex.site

TYPESENSE_BACKFILL_KEY=[your-backfill-secret]

PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxx

TYPESENSE_URL=https://[your-deployment-name].typesense.cloud
TYPESENSE_ADMIN_KEY=[your-admin-key]
TYPESENSE_SEARCH_KEY=[your-search-key]
TYPESENSE_SYNC_KEY=[your-sync-key]
TYPESENSE_COLLECTION=objects
