$primary: #0097ff;
$secondary: #fcbb3d;
$danger: #ff3131;
$green: #2cff05;
$darkgray: #888888;
$gray: #d8dbdf;
$lightgray: #f2f2f2;
$white: #ffffff;
$black: #000000;
$transparentBlack: rgb(0 0 0 / 0.2);
