@use 'colors';

$normal-face: sofia-pro, sans-serif;

@mixin brand-face {
    font-family: $normal-face;
}

@mixin line-height-condensed {
    line-height: 1;
}

@mixin line-height-normal {
    line-height: 1.4;
}

@mixin line-height-tall {
    line-height: 1.8;
}

@mixin weight-light {
    font-weight: 200;
}

@mixin weight-normal {
    font-weight: 400;
}

@mixin weight-bold {
    font-weight: 700;
}

@mixin sized($size) {
    font-size: $size;
}

@mixin size-14 {
    @include sized(14px);
}

@mixin size-16 {
    @include sized(16px);
}

@mixin size-20 {
    @include sized(20px);
}

@mixin size-22 {
    @include sized(22px);
}

@mixin size-28 {
    @include sized(28px);
}

@mixin size-32 {
    @include sized(32px);
}
