@use 'sass:color';
@use 'colors';
@use 'typography';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;

    &:focus {
        outline: none;
    }
}

html {
    @include typography.line-height-normal;
    font-family: typography.$normal-face;
    font-optical-sizing: auto;
}

body {
    margin: 0;
}

a {
    color: colors.$primary;
    transition: 0.2s;

    &:hover {
        color: color.scale(colors.$primary, $lightness: +16%);
    }
}
