# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:[your-deployment-id]

PUBLIC_CONVEX_URL=https://[your-deployment-name].convex.cloud

PUBLIC_CONVEX_SITE_URL=https://[your-deployment-name].convex.site

PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxx